{% extends "layout.html" %}
{% block content %}
<h3>Edit Book</h3>
<form method="post">
  <div class="mb-3">
    <label>Title</label>
    <input class="form-control" name="title" required value="{{ book.title }}">
  </div>
  <div class="mb-3">
    <label>Author</label>
    <input class="form-control" name="author" value="{{ book.author }}">
  </div>
  <div class="mb-3">
    <label>Publisher</label>
    <input class="form-control" name="publisher" value="{{ book.publisher }}">
  </div>
  <div class="mb-3">
    <label>Year</label>
    <input class="form-control" name="year" type="number" value="{{ book.year }}">
  </div>
  <div class="mb-3">
    <label>Copies</label>
    <input class="form-control" name="copies" type="number" value="{{ book.copies or 1 }}" min="0">
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
  <a class="btn btn-secondary" href="{{ url_for('books') }}">Back</a>
</form>
{% endblock %}
